
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.fa-microchip {
  margin-right: 0.5rem;
}

.fa-caret-right {
  margin-left: 0.5rem;
}

.fa-user{
  margin-right: 0.5rem;
}
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}


.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-image: linear-gradient( 95.2deg, rgb(58, 141, 122) 26.8%, rgb(53, 124, 158) 64% );
  color: #fff;
}

.button:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #4837ff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 70vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Main Content CSS */
.main {
  background-color: #141414;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 80vh;
  background-color: #131313;
  z-index: 1;
  width: 100%;
  max-width: 1800px;
  padding-right: 50px;
  padding-left: 50px;
}

.main__content {
  color: #fff;
  width: 100%;
}

.main__content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
  font-size: 4rem;
  margin-top: 10px;
  background-color: #ff8177;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient( 95.2deg, rgb(123, 186, 220) 26.8%, rgb(48, 178, 238) 64% );
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #000;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #422ab8;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

#main__img {
  height: 80%;
  width: 80%;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* Services Section */
.services {
  background: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.services h1 {
  background-color: #ff8177;
  background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgb(170, 200, 237) 100.2% );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.services__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services__card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/R7.png');
  background-size: cover;
  position: relative;
  color: #fff;  
}

.services__card:before {
  opacity: 0.2;
}

.services__card:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.9) 100%
    ),
    url('/images/R5.png');
}

.services__card h2 {
  position: absolute;
  top: 300px;
  left: 30px;
}

.services__card p {
  position: absolute;
  top: 400px;
  left: 30px;
}

.services__card button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-image: linear-gradient( 95.2deg, rgb(123, 186, 220) 26.8%, rgb(48, 178, 238) 64% );
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
}

.services__card button:hover {
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .services {
    height: 1600px;
  }

  .services h1 {
    font-size: 2rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: 480px) {
  .services {
    height: 1400px;
  }

  .services h1 {
    font-size: 1.2rem;
  }

  .services__card {
    width: 300px;
  }
}

/* Search page */
.search__container {
    width: 80%;
    padding: 3%;
    display: left;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;

}
@media screen and (max-width: 960px) {
   .search__container{
    width: 100%;
   }
}

::placeholder {
    color: #000;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: transparent;
    background: #e1e1e133;
    cursor: pointer;
}

/*product page*/

.product__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #422ab8;
  transition: all 0.35s;
  border-radius: 4px;
}

.product__btn:hover {
  color: #fff;
}

.product_btn:hover:after {
  width: 100%;
}

.product__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .product__links:hover {
    color: #4837ff;
    transition: all 0.3s ease;
  }

  .popup{
    width: 1000px;
    background: #3d3a3a;
    border-radius: 6px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-2%, -50%);
    transition: transform 0.4s, top 0.4s;
  }
  
  .open-popup {
    top: 50%;
    transform: translate(-2%, -50%);
  }

  .show-modal {
    font-size: 1.5rem;
    background-image: linear-gradient( 95.2deg, rgb(123, 186, 220) 26.8%, rgb(48, 178, 238) 64% );
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  
  .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
    color: white;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  .hidden {
    display: none;
  }
  
  /** Modal Block **/
  .modal {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    max-width: 1300px;
    width: 100%;
    height: 70%;
    padding: 1rem;
    background: #3d3a3a;
    border-radius: 10px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  /** Media Queries **/
  
  @media screen and (min-width: 801px) {
    .close-modal {
      font-size: 6rem;
    }
    .modal h1 {
      font-size: 2rem;
    }
    .modal p {
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 2px;
    }
  }
  
  @media screen and (min-width: 1025px) {
    .modal {
      width: 80%;
    }
    .close-modal {
      font-size: 7rem;
    }
    .modal h1 {
      font-size: 3rem;
    }
    .modal p {
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 2px;
    }
  }
  
  @media screen and (min-width: 1201px) {
    .modal p {
      line-height: 3rem;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .close-modal {
      font-size: 8rem;
    }
  }

  /*product_links*/
  .footer__link--items {
    border-color: #21d4fd;
  }
  .CPU__container {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    margin-left: 15px;
    position: absolute;
    cursor: pointer;
    background-color: #2d2c2c;
  }
.CPU__container img {
  width: 100px;
  margin-top: 10px;
  margin-left: 20px;
}
.CPU__container h3 {
  color: #fff;
 text-align: center;
  justify-content: center;
}

.CPUcooler__container {
  width: 180px;
  height: 180px;
  margin-left: 15px;
  margin-top: 190px;
  margin-bottom: 100%;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  background-color: #2d2c2c;
}
.CPUcooler__container img {
width: 100px;
margin-top: 10px;
margin-left: 20px;
}
.CPUcooler__container h3 {
color: #fff;
text-align: center;
justify-content: center;
}


.ssd__container {
  width: 180px;
    height: 180px;
  margin-left: 15px;
  margin-top: 380px;
  margin-bottom: 100%;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  background-color: #2d2c2c;
}
.ssd__container img {
width: 100px;
margin-top: 10px;
margin-left: 20px;
}
.ssd__container h3 {
color: #fff;
text-align: center;
justify-content: center;
}
  

.vidcard__container {
  width: 180px;
  height: 180px;
  margin-left: 15px;
  margin-top: 570px;
  margin-bottom: 100%;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  background-color: #2d2c2c;
}
.vidcard__container img {
width: 100px;
margin-top: 10px;
margin-left: 20px;
}
.vidcard__container h3 {
color: #fff;
text-align: center;
justify-content: center;
}

.mobo__container {
  width: 180px;
  height: 180px;
  margin-left: 205px;
  margin-bottom: 100%;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  background-color: #2d2c2c;
}
.mobo__container img {
width: 100px;
margin-top: 20px;
margin-left: 20px;
}
.mobo__container h3 {
color: #fff;
text-align: center;
justify-content: center;
}


.psu__container {
  width: 180px;
  height: 180px;
  margin-left: 205px;
  margin-bottom: 100%;
  margin-top: 190px;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  background-color: #2d2c2c;
}
.psu__container img {
width: 100px;
margin-top: 20px;
margin-left: 20px;
}
.psu__container h3 {
color: #fff;
text-align: center;
justify-content: center;
}

.case__container {
  width: 180px;
  height: 180px;
  margin-left: 205px;
  margin-bottom: 100%;
  margin-top: 380px;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  background-color: #2d2c2c;
}
.case__container img {
width: 100px;
margin-top: 20px;
margin-left: 20px;
}
.case__container h3 {
color: #fff;
text-align: center;
justify-content: center;
}

.ram__container {
  width: 180px;
  height: 180px;
  margin-left: 205px;
  margin-bottom: 100%;
  margin-top: 570px;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  background-color: #2d2c2c;
}
.ram__container img {
width: 100px;
margin-top: 20px;
margin-left: 20px;
}
.ram__container h3 {
color: #fff;
text-align: center;
justify-content: center;
}


  
 /*Forum Page*/
 
 .forum_tabs{
  align: center;
  background-color: lightgrey;
  width: 200%;
  border: 5px solid rgb(44, 43, 43);
  padding: 5px;
  margin: auto;
}

.forum__content h1 {
  font-size:2rem;
  display: center;
  background-color: #ff8177;
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.forum__content h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  background-color: #ff8177;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.forum__content p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

/* Sign up / login page */


/* Footer CSS */
.footer__container {
  background-color: #141414;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
}

.footer__link--items > h2 {
  color: #fff;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website__rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}
